# SMARTMAZE BACKEND CONFIGURATION
FLASK_SECRET_KEY=smartmaze_super_secret_key_2026
FLASK_ENV=development
PORT=5000

# MYSQL DATABASE CONFIGURATION
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=smartmaze_db
MYSQL_USER=root
MYSQL_PASSWORD=Sxndeep_07

# FRONTEND API BASE URL
VITE_API_BASE_URL=http://localhost:5000/api
